# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# SPM
.build/
Package.resolved

# macOS
.DS_Store

# Build output
Payload/
*.tipa
